<<<<<<< HEAD
body{
    background-color:  brown;
    color: white;
}
#A{
    text-align: center;
=======
body{
    background-color:  brown;
    color: white;
}
#A{
    text-align: center;
>>>>>>> 47368170747e792ee9a2029c77f6c93d623926a4
}