body{
    background-image: url(Balões.png);
    margin: 0%;
    text-align: center;
}
.AAA{
    margin-left: 18rem;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.AAA p{
    background-image: url(img/fundopreto.png);
    margin-left: 8rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: goldenrod;
}
#eee{
    margin-left:15rem;
}
a{
    color: rgb(28, 0, 128);
    font-size: large;
}
#B{
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(42, 165, 48);
    text-align: center;
}
#B h3{
    margin: 0%;
}
#o{
    margin:0%;
    background-color: black;
    color:black;
}