body{
    margin:0%;
    background-color: gray;
}
header{
    color: white;
    background-color: blue;
    border: 1px solid white;
}
header > h1, header > h2{
    margin-left: 100px;
}
.informations{
    display:flex;
    flex-direction: row;
}
.container{
    border: 1px solid white;
    background-color:brown;
    color: white;
    width: 200px;
    text-align: center;
}